demo/empapp-cxf-jms-client/src/main/resources/EmployeeEndpoint.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EmployeeEndpointService" targetNamespace="https://training.com/employees" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://training.com/employees" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="https://training.com/employees" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="https://training.com/employees" version="1.0">

  <xs:element name="findAll" type="tns:findAll"/>

  <xs:element name="findAllResponse" type="tns:findAllResponse"/>

  <xs:complexType name="findAll">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="findAllResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="employee" type="tns:employeeWdto"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="employeeWdto">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long"/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="findAllResponse">
    <wsdl:part name="parameters" element="tns:findAllResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAll">
    <wsdl:part name="parameters" element="tns:findAll">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeeEndpoint">
    <wsdl:operation name="findAll">
      <wsdl:input name="findAll" message="tns:findAll">
    </wsdl:input>
      <wsdl:output name="findAllResponse" message="tns:findAllResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeEndpointServiceSoapBinding" type="tns:EmployeeEndpoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findAll">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findAll">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAllResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeEndpointService">
    <wsdl:port name="EmployeeEndpointPort" binding="tns:EmployeeEndpointServiceSoapBinding">
      <soap:address location="http://localhost:9090/EmployeeEndpointPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
